# Base environment shared by all platforms.
# Then apply one optional overlay:
# - Local with pygrib: environments/environment.local-pygrib.yml
# - HPC with cfgrib: environments/environment.hpc-cfgrib.yml
name: wildfore-r
channels:
  - conda-forge
  - https://repo.anaconda.com/pkgs/main
  - https://repo.anaconda.com/pkgs/r
  - https://repo.anaconda.com/pkgs/msys2
dependencies:
  - python=3.11
  - pyyaml
  - numpy
  - netCDF4
  - cdsapi
  - rasterio
  - jupyterlab
  - pillow
  - tqdm
  - torchaudio
  - torchvision
  - tifffile
  - pandas
  - geopandas
  - libpysal
  - spreg
